.icon {
  /* put it in a circle */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #0d6efd;
  /* use grid and center it */
  display: grid;
  place-items: center;
  /* center itself horizontally */
  margin: 0 auto;
}